<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title th:text="${appName}"></title>
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/date">Date</a></li>
			<li><a href="/saisons">Saisons</a></li>
			<li><a href="/api/articles">Articles</a></li>
		</ul>
	</nav>

	<h1>Date !</h1>
	<p>
		Nous sommes le <span th:text="${#temporals.format(today, 'dd/MM/yyyy')}">date du jour</span>
	</p>

	<p>
		<span th:if="${#temporals.format(today, 'EEEE') == 'samedi' || #temporals.format(today, 'EEEE') == 'dimanche' }">week-end !</span>
		<span th:unless="${#temporals.format(today, 'EEEE') == 'samedi' || #temporals.format(today, 'EEEE') == 'dimanche' }">Au boulot!</span>
	</p>
	
	<table>
		<tr>
			<td th:switch="${saison}">
				<span th:case="spring">it's spring<br>
					<img src="https://cdn.britannica.com/s:300x300/05/155405-004-2466567A.jpg">
				</span>
				<span th:case="summer">it's summer<br>
					<img src="https://c402277.ssl.cf1.rackcdn.com/photos/1579/images/hero_small/HI_115201.jpg?1345598092">
				</span>
				<span th:case="fall">it's fall<br>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/s--iU8WU4fD--/c_scale,f_auto,fl_progressive,q_80,w_800/x6ygfqgiwpt0ezue1u8v.jpg">
				</span>
				<span th:case="winter">it's winter<br>
					<img src="https://cdn2us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/game_of_thrones_season_7_dvd_cover_cropped.jpg?itok=7ZmA6Eu-">
				</span>
			</td>
		</tr>
	</table>
	

</body>
</html>