<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title th:text="${appName}"></title>
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/date">Date</a></li>
			<li><a href="/saisons">Saisons</a></li>
			<li><a href="/api/articles">Articles</a></li>
		</ul>
	</nav>
	
	<h1>Bonjour !</h1>
	<p>
		Bienvenue sur <span th:text="${appName}">Notre Application</span>
	</p>
</body>
</html>